@mixin setLine($c: #666) {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    border: 1px solid $c;
    color: $c;
    height: 200%;
    transform-origin: left top;
    transform: scale(0.5);
  }

  @mixin setTopLine($c: #666) {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid $c;
    color: $c;
    transform-origin: 0 0;
    transform: scaleY(0.5);
}

@mixin setBottomLine($c: #666) {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid $c;
    color: $c;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
}

@mixin setLeftLine($c: #666) {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-left: 1px solid $c;
    color: $c;
    transform-origin: 0 0;
    transform: scaleX(0.5);
}

@mixin setRightLine($c: #666) {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-right: 1px solid $c;
    color: $c;
    transform-origin: 100% 0;
    transform: scaleX(0.5);
}
  
  .vue-1px, .vue-1px-t, .vue-1px-b, .vue-1px-tb, .vue-1px-l, .vue-1px-r {
    position: relative;
  }
  
  .vue-1px {
    &:before {
      @include setLine();
    }
  }
  
  .vue-1px-t {
    &:before {
      @include setTopLine();
    }
  }
  
  .vue-1px-b {
    &:after {
      @include setBottomLine();
    }
  }
  
  .vue-1px-tb {
    &:before {
      @include setTopLine();
    }
    &:after {
      @include setBottomLine();
    }
  }
  
  .vue-1px-l {
    &:before {
      @include setLeftLine();
    }
  }
  
  .vue-1px-r {
    &:after {
      @include setRightLine();
    }
  }
