@import "sass";
// 主题色
$main-font-color: #333;
$main-bg-color: #333;
.view{
  width:100%;
  height:100%;
  padding-bottom: 0.88rem;
  overflow: hidden;
  overflow-y: auto;
  @include random;
}
.view-no{
  @extend .view;
  padding: 0;
  overflow-y: hidden;
}
.page-head{
  height:0.88rem;
}
